aniso8601==4.0.1
certifi==2024.7.4
chardet==3.0.4
Click==7.0
colorama==0.4.1
elasticsearch==6.3.1
falcon==1.4.1
Flask==2.2.5
Flask-RESTful==0.3.6
hone==0.1.4
httpie==3.2.3
idna==3.7
itsdangerous==1.1.0
Jinja2==3.1.6
MarkupSafe==1.1.0
numpy==1.22.0
pandas==0.23.4
pip==25.3
pprint==0.1
Pygments==2.15.0
pyodbc==4.0.26
python-dateutil==2.7.5
python-mimeparse==1.6.0
pytz==2018.7
requests==2.32.4
setuptools==78.1.1
six==1.12.0
urllib3==2.6.0
Werkzeug==3.1.4
